@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* dark mode element*/
  --dark-blue: hsl(209, 23%, 22%);
  --bg-very-dark-blue: hsl(207, 26%, 17%);
  --txt-very-dark-blue: hsl(200, 15%, 8%);
  --dark-gray-input: hsl(0, 0%, 52%);
  --bg-very-light-gray: hsl(0, 0%, 98%);
  /* - White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100% */
  --white: hsl(0, 0%, 100%);

  /* - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%) */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%) */

body {
  color: var(--white);
  background: var(--bg-very-dark-blue);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .dark-gray {
    @apply 
  }
}
